{
  "branches": [
    "main",
    "next",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "pkgRoot": "./packages/core/dist"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm --no-git-tag-version version <%= nextRelease.version %>"
      }
    ]
  ]
}
